.a1{
    color:dimgray;
    text-shadow: 2px 3px red;
    text-align: center;
}
.a2{
    text-align: center;
    text-shadow: 2px 3px green;
    box-shadow: 2px 3px 2px 3px darkviolet;
    color:red;
    width:300px;
    height:100%;
}